{% for item in diags if item.image_type.value == diagtype %}
<div class="card-group">
    <div class="card ml-0 my-2 bg-light border-0">
        <div class="card-header bg-gray">
            <h5 class="card-title text-center">Image: <span class="font-weight-light">{{item}}</span></h5>
        </div>
        <img src="{{url_for('diagnostics_img', diag_image=item.image)}}" class="card-img-top mt-3" alt="...">
    </div>
    <div class="card mr-lg-0 my-2 bg-light border-0">
        <div class="card-header bg-gray">
            <h5 class="card-title text-center">Report: <span class="font-weight-light">{{item.date_loaded}}</span></h5>
        </div>
        <div class="card-body d-flex flex-wrap justify-content-between align-items-center">
            {% for key,value in (item.diag_json|todict).items() %}
            <div>
                <canvas id="gauge{{loop.index0}}-{{item}}"></canvas>
                <h6 class="text-center">{{key}}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- {#<div class="table-responsive my-3">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Image ID
                    </th>
                    <th>
                        Diag JSON
                    </th>
                    <th>
                        Diag Boxes
                    </th>
                    <th>
                        Date Loaded
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if not diags %}
                <tr>
                    <td colspan="5" class="text-center">No data</td>
                </tr>
                {% else %}
                {% for item in diags %}
                {% if item.image_type.value == diagtype %}
                <tr>
                    <td>
                        {{item.id}}
                    </td>
                    <td>
                        {{item.diag_json}}
                    </td>
                    <td>
                        {{item.diag_boxes}}
                    </td>
                    <td>
                        {{item.date_loaded}}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>#}    -->
{% endfor %}