{% extends 'base2.html' %}
{% block navigation %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">HOME</a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('all_patients')}}">ALL PATIENTS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGOUT</a>
                </li>
            </ul>
        </div>
        {% endblock %}
{% block content %}
<div class="container d-flex justify-content-center mt-3">
    <div class="col-lg-9">
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for p in patients %}
                <tr>
                    <th scope="row">
                        {{p}}
                    </th>
                    <td>
                        {{p.fullname}}
                    </td>
                    <td>
                        <a href="{{url_for('patient_profile',patient_id=p)}}" class="btn btn-sm btn-info">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}