{% extends 'base2.html' %}

{% block content %}
<div class="w-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-2 d-lg-flex align-items-center">
                <h5 class="text-primary mb-0">Patient Profile</h5>
            </div>
            <div class="col-lg-4 my-2 d-lg-flex align-items-center">
                <form action="/search" class="w-100">
                    <!-- <input type="search" class="form-control icon rounded-pill float-right" name="search" id="search"
                        placeholder="&#xf002; Search Patient Name / ID"> -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white border-right-0 rounded-pill-left" id="basic-addon1"><i
                                    class="fas fa-search fa-fw"></i></span>
                        </div>
                        <input type="search" class="form-control border-left-0 rounded-pill-right" placeholder="Search Patient Name / ID"
                            aria-label="Search Patient Name / ID" aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>
            <div class="col-lg-2 my-2 d-lg-flex align-items-center justify-content-end">
                <a class="btn btn-sm btn-primary" href="{{url_for('add_patient')}}"><i class="fas fa-plus fa-fw"></i><i
                        class="fas fa-user fa-fw"></i>&nbsp;Add
                    Patient</a>
            </div>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<h5 class="alert alert-{{ category }} text-center alert-dismissible fade show">{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</h5>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row pb-4">
        <div class="col-lg-5">
            <div class="card shadow border-0 rounded-0 h-100">
                <div class="card-body">
                    {%include 'profile2.html'%}
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card text-center bg-light rounded-0">
                {% if available_types %}
                <div class="card-header bg-white py-0 card-header-nav">
                    <ul class="nav nav-pills nav-fill card-header-pills" id="myTab" role="tablist">

                        {% for t in available_types %}
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold rounded-0 py-3{% if loop.first %} active{% endif %}" id="{{t}}-tab"
                                data-toggle="tab" href="#{{t}}" role="tab" aria-controls="{{t}}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{t|getlabel}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card-body p-0">
                    <div class="tab-content" id="myTabContent">

                        {% for t in available_types %}
                        <div class="tab-pane fade{% if loop.first %} show active{% endif %}" id="{{t}}" role="tabpanel"
                            aria-labelledby="{{t}}-tab">
                            {% with diagtype=t %}
                            {% include 'diagnosis3.html' %}
                            {% endwith %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <h5 class="mt-3">No Diagnostics Images for this patient</h5>
                <a href="{{url_for('upload_image', patient_id=patient_id)}}" class="btn btn-primary btn-lg mt-3"><i
                        class="fas fa-plus fa-fw"></i><i class="fas fa-image fa-fw"></i>&nbsp;Add
                    Diagnostic Image</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% with diags=diags %}
{% include 'gauges.html' %}
{% endwith %}
{% with diagtypes = ['RetinaImage','ChestX-Ray','BreastCancer'] %}
{% include 'thumbs.html' %}
{% endwith %}
{% endblock %}