{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-1">
            <a href="#" class="text-decoration-none"><strong class="h3 text-green font-weight-bolder">&lt;&lt;</strong></a>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center mt-2">
                    <strong>Updated:&nbsp;</strong><span>{{data.updated}}</span>
                </div>
                <div class="col-md-6 col-lg-3 text-center mt-2">
                    <strong>Name:&nbsp;</strong><span>{{data.name}}</span>
                </div>
                <div class="col-md-6 col-lg-3 text-center mt-2">
                    <strong>Patient ID:&nbsp;</strong><span>{{data.patient_id}}</span>
                </div>
                <div class="col-md-6 col-lg-3 text-center mt-1">
                    <form action="/search">
                        <input type="text" name="search" id="search" placeholder="Search Patient Name / ID" class="form-control">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 text-right pl-0">
            <a href="#" class="text-decoration-none"><strong class="h3 text-green font-weight-bolder">&gt;&gt;</strong></a>
        </div>
    </div>
</div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs nav-fill card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false">Patient Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" id="ctscan-tab" data-toggle="tab" href="#ctscan" role="tab" aria-controls="ctscan"
                        aria-selected="false">CT Scan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" id="chest-tab" data-toggle="tab" href="#chest" role="tab" aria-controls="chest"
                        aria-selected="false">Chest X-Ray</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" id="retinopathy-tab" data-toggle="tab" href="#retinopathy" role="tab"
                        aria-controls="retinopathy" aria-selected="true">Retinopathy</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Patient Profile</div>
                <div class="tab-pane fade" id="ctscan" role="tabpanel" aria-labelledby="ctscan-tab">CT Scan</div>
                <div class="tab-pane fade" id="chest" role="tabpanel" aria-labelledby="chest-tab">Chest X-Ray</div>
                <div class="tab-pane fade show active" id="retinopathy" role="tabpanel" aria-labelledby="retinopathy-tab">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title text-center">Image ID: <span class="font-weight-light">{{data.image_id}}</span></h5>
                            </div>
                            <img src="{{url_for('static',filename='img/Picture1.png')}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title text-center">Diagnosis: <span class="font-weight-light">{{data.diag_date}}</span></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <canvas id="gauge1"></canvas>
                                        <h6 class="text-center">Macular Degeneration</h6>
                                    </div>
                                    <div class="col-6">
                                        <canvas id="gauge2"></canvas>
                                        <h6 class="text-center">Melanoma - Cancer</h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <canvas id="gauge3"></canvas>
                                        <h6 class="text-center">Diabetic Retinopathy</h6>
                                    </div>
                                    <div class="col-6">
                                        <canvas id="gauge4"></canvas>
                                        <h6 class="text-center">Glaucoma</h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <canvas id="gauge5"></canvas>
                                        <h6 class="text-center">Hypertension</h6>
                                    </div>
                                    <div class="col-6">
                                        <canvas id="gauge6"></canvas>
                                        <h6 class="text-center">Retinal Detachment</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
<script src="{{url_for('static',filename='js/gauge.min.js')}}"></script>
<script>
    var gaugeWidth = 150;
    var gaugeHeight = 150;
    var gauge = []
    gauge.push(new RadialGauge({
        renderTo: 'gauge1',
        width: gaugeWidth,
        height: gaugeHeight,
        // units: "RPM",
        value: "{{data.gauges.0}}",
        minValue: 0,
        // startAngle: 90,
        // ticksAngle: 180,
        valueBox: true,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100",
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{
                "from": 0,
                "to": 25,
                "color": "rgba(0,255,0,0.6)"
            },
            {
                "from": 25,
                "to": 50,
                "color": "rgba(255,255,0,0.6)"
            },
            {
                "from": 50,
                "to": 75,
                "color": "rgba(255,165,0,0.6)"
            },
            {
                "from": 75,
                "to": 100,
                "color": "rgba(255,0,0,0.6)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 3,
        needleCircleSize: 4,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
    }).draw());
    gauge.push(new RadialGauge({
        renderTo: 'gauge2',
        width: gaugeWidth,
        height: gaugeHeight,
        // units: "RPM",
        value: "{{data.gauges.1}}",
        minValue: 0,
        // startAngle: 90,
        // ticksAngle: 180,
        valueBox: true,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100",
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{
                "from": 0,
                "to": 25,
                "color": "rgba(0,255,0,0.6)"
            },
            {
                "from": 25,
                "to": 50,
                "color": "rgba(255,255,0,0.6)"
            },
            {
                "from": 50,
                "to": 75,
                "color": "rgba(255,165,0,0.6)"
            },
            {
                "from": 75,
                "to": 100,
                "color": "rgba(255,0,0,0.6)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 3,
        needleCircleSize: 4,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
    }).draw());
    gauge.push(new RadialGauge({
        renderTo: 'gauge3',
        width: gaugeWidth,
        height: gaugeHeight,
        // units: "RPM",
        value: "{{data.gauges.2}}",
        minValue: 0,
        // startAngle: 90,
        // ticksAngle: 180,
        valueBox: true,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100",
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{
                "from": 0,
                "to": 25,
                "color": "rgba(0,255,0,0.6)"
            },
            {
                "from": 25,
                "to": 50,
                "color": "rgba(255,255,0,0.6)"
            },
            {
                "from": 50,
                "to": 75,
                "color": "rgba(255,165,0,0.6)"
            },
            {
                "from": 75,
                "to": 100,
                "color": "rgba(255,0,0,0.6)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 3,
        needleCircleSize: 4,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
    }).draw());
    gauge.push(new RadialGauge({
        renderTo: 'gauge4',
        width: gaugeWidth,
        height: gaugeHeight,
        // units: "RPM",
        value: "{{data.gauges.3}}",
        minValue: 0,
        // startAngle: 90,
        // ticksAngle: 180,
        valueBox: true,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100",
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{
                "from": 0,
                "to": 25,
                "color": "rgba(0,255,0,0.6)"
            },
            {
                "from": 25,
                "to": 50,
                "color": "rgba(255,255,0,0.6)"
            },
            {
                "from": 50,
                "to": 75,
                "color": "rgba(255,165,0,0.6)"
            },
            {
                "from": 75,
                "to": 100,
                "color": "rgba(255,0,0,0.6)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 3,
        needleCircleSize: 4,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
    }).draw());
    gauge.push(new RadialGauge({
        renderTo: 'gauge5',
        width: gaugeWidth,
        height: gaugeHeight,
        // units: "RPM",
        value: "{{data.gauges.4}}",
        minValue: 0,
        // startAngle: 90,
        // ticksAngle: 180,
        valueBox: true,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100",
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{
                "from": 0,
                "to": 25,
                "color": "rgba(0,255,0,0.6)"
            },
            {
                "from": 25,
                "to": 50,
                "color": "rgba(255,255,0,0.6)"
            },
            {
                "from": 50,
                "to": 75,
                "color": "rgba(255,165,0,0.6)"
            },
            {
                "from": 75,
                "to": 100,
                "color": "rgba(255,0,0,0.6)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 3,
        needleCircleSize: 4,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
    }).draw());
    gauge.push(new RadialGauge({
        renderTo: 'gauge6',
        width: gaugeWidth,
        height: gaugeHeight,
        // units: "RPM",
        value: "{{data.gauges.5}}",
        minValue: 0,
        // startAngle: 90,
        // ticksAngle: 180,
        valueBox: true,
        maxValue: 100,
        majorTicks: [
            "0",
            "20",
            "40",
            "60",
            "80",
            "100",
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{
                "from": 0,
                "to": 25,
                "color": "rgba(0,255,0,0.6)"
            },
            {
                "from": 25,
                "to": 50,
                "color": "rgba(255,255,0,0.6)"
            },
            {
                "from": 50,
                "to": 75,
                "color": "rgba(255,165,0,0.6)"
            },
            {
                "from": 75,
                "to": 100,
                "color": "rgba(255,0,0,0.6)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 3,
        needleCircleSize: 4,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
    }).draw());
</script>
{% endblock %}