<div class="d-flex flex-row justify-content-end">
    <!-- <a href="#" class="text-info text-decoration-none float-right"><i class="fas fa-ellipsis-h fa-2x"></i></a> -->
    <div class="dropdown">
        <button class="btn text-info" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h fa-2x"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{url_for('add_patient', patient_id=patient_id)}}">Edit Profile</a>
        </div>
    </div>
</div>
<div class="d-flex flex-row flex-wrap align-items-center">
    <div class="col-5">
        <img src="{{url_for('patient_img', patient_photo=patient.photo)}}" class="img-fluid rounded-circle" alt="">
    </div>
    <div class="col-7">
        <h4 class="text-green">{{patient.fullname}}</h4>
        <h6>{{patient.email}}</h6>
    </div>
</div>
<div class="row mt-5">
    <div class="col-5">
        <p><b>Patient ID</b></p>
    </div>
    <div class="col-7">
        <p><b>: <span class="text-primary">{{patient_id}}</span></b></p>
    </div>
</div>
{% if diags %}
<div class="row">
    <div class="col-5">
        <p><b>Updated</b></p>
    </div>
    <div class="col-7">
        <p><b>: <span class="text-primary">{% for d in diags %}{% if loop.first %}{{d.date_loaded}}{% endif %}{% endfor %}</span></b></p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-5">
        <p><b>DOB</b></p>
    </div>
    <div class="col-7">
        <p><b>: <span class="text-primary">{{patient.date_of_birth}}</span></b></p>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <p><b>Age</b></p>
    </div>
    <div class="col-7">
        <p><b>: <span class="text-primary">{{patient.date_of_birth|getage}}</span></b></p>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <p><b>Contact No</b></p>
    </div>
    <div class="col-7">
        <p><b>: <span class="text-primary">{{patient.phone}}</span></b></p>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <p><b>Address</b></p>
    </div>
    <div class="col-7">
        <p><b>: <span class="text-primary">{{patient.address}}</span></b></p>
    </div>
</div>
<a href="{{url_for('upload_image', patient_id=patient_id)}}" class="btn btn-primary btn-block mt-3"><i class="fas fa-plus fa-fw"></i><i class="fas fa-image fa-fw"></i>&nbsp;Add
    Diagnostic Image</a>
<!-- {#<div class="table-responsive my-3">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Image ID
                    </th>
                    <th>
                        Image Type
                    </th>
                    <th>
                        Diag JSON
                    </th>
                    <th>
                        Diag Boxes
                    </th>
                    <th>
                        Date Loaded
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if not diags %}
                <tr>
                    <td colspan="5" class="text-center">No data</td>
                </tr>
                {% else %}
                {% for item in diags %}
                <tr>
                    <td>
                        {{item.id}}
                    </td>
                    <td>
                        {{item.image_type.value}}
                    </td>
                    <td>
                        {{item.diag_json}}
                    </td>
                    <td>
                        {{item.diag_boxes}}
                    </td>
                    <td>
                        {{item.date_loaded}}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>#} -->