<div class="card-group">
    <div class="card">
        <div class="card-header bg-white">
            <h5 class="card-title text-center">Patient's Photo</h5>
        </div>
        <img src="{{url_for('patient_img', patient_photo=patient.photo)}}" class="card-img-top" alt="Patient's Photo">
    </div>
    <div class="card">
        <div class="card-header bg-white">
            <h5 class="card-title text-center">Patient ID: <span class="font-weight-light">{{patient_id}}</span></h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item">
                    First Name:<span class="float-right">{{patient.first_name}}</span>
                </li>
                <li class="list-group-item">
                    Last Name:<span class="float-right">{{patient.last_name}}</span>
                </li>
                <li class="list-group-item">
                    Gender:<span class="float-right">{{patient.gender.name}}</span>
                </li>
                <li class="list-group-item">
                    Date of Birth:<span class="float-right">{{patient.date_of_birth}}</span>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="table-responsive my-3">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    Image ID
                </th>
                <th>
                    Image Type
                </th>
                <th>
                    Diag JSON
                </th>
                <th>
                    Diag Boxes
                </th>
                <th>
                    Date Loaded
                </th>
            </tr>
        </thead>
        <tbody>
            {% if not diags %}
            <tr>
                <td colspan="5" class="text-center">No data</td>
            </tr>
            {% else %}
            {% for item in diags %}
            <tr>
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.image_type.value}}
                </td>
                <td>
                    {{item.diag_json}}
                </td>
                <td>
                    {{item.diag_boxes}}
                </td>
                <td>
                    {{item.date_loaded}}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>